@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root {
	--red:#FFE96B;
}
body {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	color: white;
}

header {
	background: linear-gradient(180deg, rgba(39,171,166,1) 59%, rgba(250,255,254,0.8561799719887955) 70%);
}
header nav {
	padding: 30px 5% 20px 5%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--red);
	color: rgba(39,171,166,1);
}
header nav h1 {
	margin: 0;
	text-transform: uppercase;
	color: rgba(39,171,166,1);
}
header nav .right {
	display: flex;
	align-items: center;
}
header nav .right p{
	margin: 0 15px 0 0;
}
header nav .right p:hover {
	color: whitesmoke;
	cursor: pointer;
}
header nav .right button {
	padding: 5px 15px;
	font-size: 16px;
	background-color: rgba(39,171,166,1);
	border: 1px solid rgba(39,171,166,1);
	color: var(--red);
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.5s, background-color 0.5s;
}
header nav .right button:hover {
	color: rgba(39,171,166,1);
	background-color: var(--red);
}

.presentation {
	padding: 30px 5%;
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.presentation .restaurant-presentation {
	width: 100%;
	flex-shrink: 3;
}
.presentation .restaurant-presentation h1 {
	margin: 0;
	font-size: 4vw;
	width: 80%;
}
.presentation .restaurant-presentation button {
	margin-top: 20px;
	padding: 15px 20px;
	font-size: 15px;
	border-radius: 15px;
	border: none;
	outline: none;
	cursor: pointer;
}

.presentation .image-presentation {
	max-width: 100%;
	margin: 0px;
	padding: 0px;

}

.presentation .image-presentation img {
	object-fit: cover;
}
.first .restaurant-presentation button {
	background-color: var(--red);
	border: 1px solid var(--red);
	color: rgba(39,171,166,1);
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.5s, background-color 0.5s;
}
.first .restaurant-presentation button:hover {
	color: var(--red);
	background-color: rgba(39,171,166,1);
}

.second {
	margin: 0;
	background-color: #FCD732;
}
.second .restaurant-presentation .new {
	color: rgba(39,171,166,1);
}
.second .restaurant-presentation h1 {
	color: rgba(39,171,166,1);
}
.second .restaurant-presentation button {
	background-color: rgba(39,171,166,1);
	border: 1px solid var(--red);
	color: whitesmoke;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.5s, background-color 0.5s;
}

footer {
	margin: 0;
	padding: 20px;
	background-color: rgba(39,171,166,1);
	display: flex;
	flex: wrap;
	justify-content: space-around;
	cursor: pointer;
}

@media screen and (max-width: 640px) {
	header nav.right p{
		display: none;
	}

	.presentation .restaurant-presentation h1 {
		font-size: 2em;
	}
	.presentation .image-presentation {
		display: none;
	}

	footer {
		justify-content: center;
	}
}

